<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'SignUp', new_user_registration_path %></li>
  <li><%= link_to 'SignIn', user_session_path %></li>  
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
  <li><%= link_to('Signout', destroy_user_session_path, :method => :delete, :class => "btn-header") %></li>
<% end %>
